html {
  background: url(/assets/forest.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img{
  position: absolute;
  left: 100px;
  top: 150px;
}